<div class="register-component container-fluid px-0">
    <div class="main-section">
        <div
            *ngIf="mode === 2"
            class="row mb-3">
            <div class="col-12">
                <span
                    class="cursor-pointer"
                    (click)="viewRegisterMode()">
                    <fa-icon
                        class="me-2"
                        [icon]="icons.solid.faChevronLeft"></fa-icon>
                    {{ 'label.back' | translate }}
                </span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <h3
                    *ngIf="mode === 1"
                    class="mb-0">
                    Chào mừng đến với Tiền Về
                </h3>
                <h3
                    *ngIf="mode === 2"
                    class="mb-0">
                    Nhập mã xác minh qua {{ (registerForm.value.type === CONSTANTS.REGISTER_TYPES.EMAIL ? 'label.email' : 'label.phone') | translate | lowercase }}
                </h3>
                <h3
                    *ngIf="mode === 3"
                    class="mb-0">
                    Tạo tài khoản của bạn
                </h3>
            </div>
        </div>
        <form
            *ngIf="mode === 1"
            [formGroup]="registerForm"
            (ngSubmit)="sendOtp()">
            <!-- <div class="row mt-3">
                <div class="col-12 d-flex">
                    <label class="tab-radio me-3">
                        <label
                            for="email"
                            class="tab-radio">
                            <input
                                id="email"
                                type="radio"
                                class="tab-radio-input"
                                [formControl]="registerForm.controls.type"
                                [value]="CONSTANTS.REGISTER_TYPES.EMAIL"
                                (change)="onTypeChanged()" />
                            <div class="tab-radio-box">{{ 'label.email_address' | translate }}</div>
                        </label>
                    </label>
                    <label class="tab-radio me-3">
                        <label
                            for="phone"
                            class="tab-radio">
                            <input
                                id="phone"
                                type="radio"
                                class="tab-radio-input"
                                [formControl]="registerForm.controls.type"
                                [value]="CONSTANTS.REGISTER_TYPES.PHONE"
                                (change)="onTypeChanged()" />
                            <div class="tab-radio-box">{{ 'label.phone' | translate }}</div>
                        </label>
                    </label>
                </div>
            </div> -->
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'email_phone'"
                        [errorMessage]="registerForm.controlErrorMessages.email_phone">
                        <input
                            *ngIf="registerForm.controls.type.value === CONSTANTS.REGISTER_TYPES.EMAIL"
                            id="email_phone"
                            type="text"
                            class="form-control"
                            [placeholder]="('label.input' | translate) + ' ' + ('label.email_address' | translate | lowercase)"
                            [formControl]="registerForm.controls.email_phone" />
                        <!-- <input
                            *ngIf="registerForm.controls.type.value === CONSTANTS.REGISTER_TYPES.PHONE"
                            appNumericInput
                            id="email_phone"
                            type="text"
                            class="form-control"
                            [shouldFormatNumber]="false"
                            [placeholder]="('label.input' | translate) + ' ' + ('label.phone' | translate | lowercase)"
                            [formControl]="registerForm.controls.email_phone" /> -->
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3 pt-3">
                <div class="col-12 text-center">
                    <button
                        type="submit"
                        class="btn btn-gradient-primary w-50 py-2"
                        [disabled]="!registerForm.value.is_policy_accepted">
                        {{ 'label.continue' | translate }}
                        <fa-icon
                            class="ms-2"
                            [icon]="icons.solid.faArrowRight"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="form-check ms-3">
                    <input
                        id="policy-checkbox"
                        class="form-check-input"
                        type="checkbox"
                        [formControl]="registerForm.controls.is_policy_accepted" />
                    <label
                        for="policy-checkbox"
                        class="form-check-label">
                        Tôi đã đọc và chấp nhận <span class="text-primary">Điều khoản dịch vụ</span> và <span class="text-primary">Chính sách về Quyền riêng tư</span>
                    </label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="form-check ms-3">
                    <input
                        id="long-token-checkbox"
                        class="form-check-input"
                        type="checkbox"
                        [formControl]="registerForm.controls.is_long_token" />
                    <label
                        for="long-token-checkbox"
                        class="form-check-label">
                        Duy trì đăng nhập 30 ngày
                    </label>
                </div>
            </div>
        </form>
        <form
            *ngIf="mode === 2"
            id="otpForm"
            [formGroup]="otpForm"
            (ngSubmit)="onOtpFormSubmitted()">
            <div class="row">
                <div class="col-12">
                    <p
                        *ngIf="otpRemainingTime !== '00:00'"
                        class="text-gray">
                        Một mã số gồm 6 chữ số đã được gửi đến {{ registerForm.value.email_phone }}.
                        Hãy nhập mã trong vòng <span class="text-danger">{{ otpRemainingTime }}</span>.
                    </p>
                    <p
                        *ngIf="otpRemainingTime === '00:00'"
                        class="text-danger">
                        Mã xác nhận đã hết hạn
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-form-input-wrapper [errorMessage]="otpForm.controlErrorMessages.otp">
                        <ng-otp-input
                            #otpInput
                            [formCtrl]="otpForm.controls.otp"
                            [config]="otpInputConfig"></ng-otp-input>
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a
                        class="text text-decoration-none cursor-pointer"
                        [ngClass]="resendOtpRemainingTime !== '00:00' ? 'text-gray pointer-event-none' : 'text-primary'"
                        (click)="sendOtp(true)">
                        &nbsp;Gửi lại mã xác nhận&nbsp;{{ resendOtpRemainingTime !== '00:00' ? 'sau ' + resendOtpRemainingTime : '' }}
                    </a>
                </div>
            </div>
        </form>
        <form
            *ngIf="mode === 3"
            id="saveAccountForm"
            [formGroup]="saveAccountForm"
            (ngSubmit)="onUpdateAccount()">
            <div class="row">
                <div class="col-12">
                    <p>Hồ sơ của bạn</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'name'"
                        [errorMessage]="saveAccountForm.controlErrorMessages.name">
                        <input
                            id="name"
                            type="text"
                            class="form-control"
                            [placeholder]="'label.name' | translate"
                            [formControl]="saveAccountForm.controls.name" />
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'email'"
                        [errorMessage]="saveAccountForm.controlErrorMessages.email">
                        <input
                            id="email"
                            type="text"
                            class="form-control"
                            [placeholder]="('label.input' | translate) + ' ' + ('label.email' | translate | lowercase)"
                            [formControl]="saveAccountForm.controls.email" />
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'phone'"
                        [errorMessage]="saveAccountForm.controlErrorMessages.phone">
                        <input
                            appNumericInput
                            id="phone"
                            type="text"
                            class="form-control"
                            [shouldFormatNumber]="false"
                            [placeholder]="('label.input' | translate) + ' ' + ('label.phone' | translate | lowercase)"
                            [formControl]="saveAccountForm.controls.phone" />
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'password'"
                        [errorMessage]="saveAccountForm.controlErrorMessages.password">
                        <input
                            id="password"
                            type="password"
                            class="form-control"
                            [placeholder]="'label.password' | translate"
                            [formControl]="saveAccountForm.controls.password" />
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'confirm_password'"
                        [errorMessage]="saveAccountForm.controlErrorMessages.confirm_password">
                        <input
                            id="confirm_password"
                            type="password"
                            class="form-control"
                            [placeholder]="'label.confirm_password' | translate"
                            [formControl]="saveAccountForm.controls.confirm_password" />
                    </app-form-input-wrapper>
                </div>
            </div>
        </form>
    </div>
    <div
        *ngIf="mode === 1"
        class="login-bottom-section">
        Đã có tài khoản ?
        <a
            class="text-primary text-decoration-none"
            [routerLink]="'/' + ROUTES.AUTH.MODULE + '/' + ROUTES.AUTH.LOGIN">
            {{ 'label.login' | translate }}
        </a>
    </div>
    <div class="row w-100">
        <div class="col-12 text-center">
            <button
                *ngIf="mode === 2"
                type="submit"
                form="otpForm"
                class="btn btn-gradient-primary w-50 py-2">
                {{ 'label.continue' | translate }}
                <fa-icon
                    class="ms-2"
                    [icon]="icons.solid.faArrowRight"></fa-icon>
            </button>
            <button
                *ngIf="mode === 3"
                type="submit"
                form="saveAccountForm"
                class="btn btn-gradient-primary w-50 py-2">
                Tạo miễn phí
            </button>
        </div>
    </div>
</div>
