<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid ps-0">
        <div class="row mb-2">
            <div class="col-12">
                <h1 class="m-0">
                    <fa-icon
                        class="me-3"
                        [icon]="icons.solid.faHome"
                        [size]="'xs'"></fa-icon>
                    Trang chủ
                </h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
