<div class="forgot-password-component container-fluid px-0">
    <div class="main-section">
        <div
            *ngIf="mode === 2"
            class="row mb-3">
            <div class="col-12">
                <span
                    class="cursor-pointer"
                    (click)="viewForgotPasswordMode()">
                    <fa-icon
                        class="me-2"
                        [icon]="icons.solid.faChevronLeft"></fa-icon>
                    {{ 'label.back' | translate }}
                </span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <h3
                    *ngIf="mode === 1"
                    class="mb-0">
                    Chào mừng đến với Tiền Về
                </h3>
                <h3
                    *ngIf="mode === 2"
                    class="mb-0">
                    Nhập mã xác minh qua {{ (forgotPasswordForm.value.type === CONSTANTS.REGISTER_TYPES.EMAIL ? 'label.email' : 'label.phone') | translate | lowercase }}
                </h3>
                <h3
                    *ngIf="mode === 3"
                    class="mb-0">
                    Chào mừng đến với Tiền Về
                </h3>
            </div>
        </div>
        <form
            *ngIf="mode === 1"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="sendOtp()">
            <div class="row mt-3">
                <div class="col-12 d-flex">
                    <label class="tab-radio me-3">
                        <label
                            for="email"
                            class="tab-radio">
                            <input
                                id="email"
                                type="radio"
                                class="tab-radio-input"
                                [formControl]="forgotPasswordForm.controls.type"
                                [value]="CONSTANTS.REGISTER_TYPES.EMAIL"
                                (change)="onTypeChanged()" />
                            <div class="tab-radio-box">{{ 'label.email_address' | translate }}</div>
                        </label>
                    </label>
                    <label class="tab-radio me-3">
                        <label
                            for="phone"
                            class="tab-radio">
                            <input
                                id="phone"
                                type="radio"
                                class="tab-radio-input"
                                [formControl]="forgotPasswordForm.controls.type"
                                [value]="CONSTANTS.REGISTER_TYPES.PHONE"
                                (change)="onTypeChanged()" />
                            <div class="tab-radio-box">{{ 'label.phone' | translate }}</div>
                        </label>
                    </label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'email_phone'"
                        [errorMessage]="forgotPasswordForm.controlErrorMessages.email_phone">
                        <input
                            *ngIf="forgotPasswordForm.controls.type.value === CONSTANTS.REGISTER_TYPES.EMAIL"
                            id="email_phone"
                            type="text"
                            class="form-control"
                            [placeholder]="('label.input' | translate) + ' ' + ('label.email_address' | translate | lowercase)"
                            [formControl]="forgotPasswordForm.controls.email_phone" />
                        <input
                            *ngIf="forgotPasswordForm.controls.type.value === CONSTANTS.REGISTER_TYPES.PHONE"
                            appNumericInput
                            id="email_phone"
                            type="text"
                            class="form-control"
                            [shouldFormatNumber]="false"
                            [placeholder]="('label.input' | translate) + ' ' + ('label.phone' | translate | lowercase)"
                            [formControl]="forgotPasswordForm.controls.email_phone" />
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3 pt-3">
                <div class="col-12 text-center">
                    <button
                        type="submit"
                        class="btn btn-gradient-primary w-50 py-2">
                        {{ 'label.send_code' | translate }}
                        <fa-icon
                            class="ms-2"
                            [icon]="icons.solid.faArrowRight"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
        <form
            *ngIf="mode === 2"
            id="otpForm"
            [formGroup]="otpForm"
            (ngSubmit)="onOtpFormSubmitted()">
            <div class="row">
                <div class="col-12">
                    <p
                        *ngIf="otpRemainingTime !== '00:00'"
                        class="text-gray">
                        Một mã số gồm 6 chữ số đã được gửi đến {{ forgotPasswordForm.value.email_phone }}. Hãy nhập mã trong vòng <span class="text-danger">{{ otpRemainingTime }}</span
                        >.
                    </p>
                    <p
                        *ngIf="otpRemainingTime === '00:00'"
                        class="text-danger">
                        Mã xác nhận đã hết hạn
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-form-input-wrapper [errorMessage]="otpForm.controlErrorMessages.otp">
                        <ng-otp-input
                            #otpInput
                            [formCtrl]="otpForm.controls.otp"
                            [config]="otpInputConfig"></ng-otp-input>
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <a
                        class="text text-decoration-none cursor-pointer"
                        [ngClass]="resendOtpRemainingTime !== '00:00' ? 'text-gray pointer-event-none' : 'text-primary'"
                        (click)="sendOtp(true)">
                        &nbsp;Gửi lại mã xác nhận&nbsp;{{ resendOtpRemainingTime !== '00:00' ? 'sau ' + resendOtpRemainingTime : '' }}
                    </a>
                </div>
            </div>
        </form>
        <form
            *ngIf="mode === 3"
            id="renewPasswordForm"
            [formGroup]="renewPasswordForm"
            (ngSubmit)="onRenewPassword()">
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'password'"
                        [errorMessage]="renewPasswordForm.controlErrorMessages.password">
                        <input
                            id="password"
                            type="password"
                            class="form-control"
                            [placeholder]="'label.new_password' | translate"
                            [formControl]="renewPasswordForm.controls.password" />
                    </app-form-input-wrapper>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <app-form-input-wrapper
                        [for]="'confirm_password'"
                        [errorMessage]="renewPasswordForm.controlErrorMessages.confirm_password">
                        <input
                            id="confirm_password"
                            type="password"
                            class="form-control"
                            [placeholder]="'label.confirm_new_password' | translate"
                            [formControl]="renewPasswordForm.controls.confirm_password" />
                    </app-form-input-wrapper>
                </div>
            </div>
        </form>
    </div>
    <div
        *ngIf="mode === 1"
        class="register-bottom-section">
        Chưa có tài khoản ?
        <a
            class="text-primary text-decoration-none"
            [routerLink]="'/' + ROUTES.AUTH.MODULE + '/' + ROUTES.AUTH.REGISTER">
            {{ 'label.register' | translate }}
        </a>
    </div>
    <div class="row w-100">
        <div class="col-12 text-center">
            <button
                *ngIf="mode === 2"
                type="submit"
                form="otpForm"
                class="btn btn-gradient-primary w-50 py-2">
                {{ 'label.continue' | translate }}
                <fa-icon
                    class="ms-2"
                    [icon]="icons.solid.faArrowRight"></fa-icon>
            </button>
            <button
                *ngIf="mode === 3"
                type="submit"
                form="renewPasswordForm"
                class="btn btn-gradient-primary w-50 py-2">
                {{ 'label.complete' | translate }}
            </button>
        </div>
    </div>
</div>
