<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid ps-0">
        <div class="row mb-2">
            <div class="col-12">
                <h1 class="m-0">
                    <!-- <fa-icon
                        class="me-3"
                        [icon]="icons.solid.faKey"
                        [size]="'xs'"></fa-icon> -->
                    Đổi mật khẩu
                </h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form
                    [formGroup]="form"
                    (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col-12">
                            <app-form-input-wrapper
                                [for]="'old_password'"
                                [label]="'label.old_password' | translate"
                                [isRequired]="true"
                                [errorMessage]="form.controlErrorMessages.old_password">
                                <input
                                    id="old_password"
                                    formControlName="old_password"
                                    type="password"
                                    class="form-control" />
                            </app-form-input-wrapper>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <app-form-input-wrapper
                                [for]="'new_password'"
                                [label]="'label.new_password' | translate"
                                [isRequired]="true"
                                [errorMessage]="form.controlErrorMessages.new_password">
                                <input
                                    id="new_password"
                                    formControlName="new_password"
                                    type="password"
                                    class="form-control" />
                            </app-form-input-wrapper>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <app-form-input-wrapper
                                [for]="'confirm_new_password'"
                                [label]="'label.confirm_new_password' | translate"
                                [isRequired]="true"
                                [errorMessage]="form.controlErrorMessages.confirm_new_password">
                                <input
                                    id="confirm_new_password"
                                    formControlName="confirm_new_password"
                                    type="password"
                                    class="form-control" />
                            </app-form-input-wrapper>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button
                                type="submit"
                                class="btn btn-primary">
                                <fa-icon
                                    class="me-2"
                                    [icon]="icons.regular.faSave"></fa-icon>
                                {{ 'label.save' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
