<div class="login-container vh-100 d-flex flex-column justify-content-center align-items-center">
    <div
        class="d-flex flex-column justify-content-end align-items mb-5"
        style="height: 33vh">
        <img
            class="login_app-icon"
            src="assets/img/app-icon.png"
            alt="" />
    </div>
    <div
        class="container-fluid"
        style="height: 33vh">
        <div class="row">
            <div class="col-md-3 col-lg-4"></div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card login__form">
                    <div class="card-body pt-3">
                        <form
                            id="loginForm"
                            [formGroup]="form"
                            (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12">
                                    <app-form-input-wrapper
                                        [for]="'username'"
                                        [errorMessage]="form.controlErrorMessages.username">
                                        <input
                                            id="username"
                                            formControlName="username"
                                            type="text"
                                            class="form-control"
                                            placeholder="{{ 'label.username' | translate }}" />
                                    </app-form-input-wrapper>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <app-form-input-wrapper
                                        [for]="'password'"
                                        [errorMessage]="form.controlErrorMessages.password">
                                        <input
                                            id="password"
                                            formControlName="password"
                                            type="password"
                                            class="form-control"
                                            placeholder="{{ 'label.password' | translate }}" />
                                    </app-form-input-wrapper>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        {{ 'label.login' | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-4"></div>
        </div>
    </div>
    <div style="height: 33vh"></div>
</div>
