<div class="modal-header">
    <div class="w-100 text-center">
        <h4 class="modal-title">Nâng cấp Premium</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <p
                class="a-fs-12 mb-0 text-justify"
                [innerHTML]="upgradeNote | safeHtml"></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-primary btn-common btn-shadow"
        (click)="activeModal.close()">
        {{ 'label.complete' | translate }}
    </button>
</div>
