<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary border-end">
    <!-- Brand Logo -->
    <a
        class="app-logo-container"
        [routerLink]="'/' + ROUTES.DASHBOARD"
        (click)="collapseSidebar()">
        <img
            src="assets/img/app-icon-transparent.png"
            alt="Logo"
            class="brand-image" />
        <div class="brand-name">
            {{ 'app_name' | translate }}
        </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- <div class="user-panel pt-2 pb-2 d-flex align-items-center">
            <div class="image">
                <img
                    src="assets/img/default-user-avatar.png"
                    class="img-circle elevation-2"
                    alt="User Image"
                    style="height: 30px; width: auto" />
            </div>
            <div class="info">
                <p class="mb-1 text-black fs-5">{{ currentUser.name }}</p>
                <p class="mb-0 text-black">
                    <a
                        class="me-2 cursor-pointer"
                        title="{{ 'label.change_password' | translate }}"
                        [routerLink]="'/' + ROUTES.AUTH.MODULE + '/' + ROUTES.AUTH.CHANGE_PASSWORD">
                        <fa-icon [icon]="icons.solid.faKey"></fa-icon>
                    </a>
                    <a
                        class="cursor-pointer"
                        title="{{ 'label.logout' | translate }}"
                        (click)="logOut()">
                        <fa-icon [icon]="icons.solid.faDoorOpen"></fa-icon>
                    </a>
                </p>
            </div>
        </div> -->
        <nav>
            <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="true">
                <li
                    class="nav-item"
                    (click)="collapseSidebar()">
                    <a
                        class="nav-link"
                        [routerLink]="'/' + ROUTES.DASHBOARD"
                        [class.active]="helpers.isFilledArray(routePathList) && routePathList[0] === ROUTES.DASHBOARD">
                        <fa-icon [icon]="icons.solid.faLineChart"></fa-icon>
                        <p class="ms-3">Báo cáo tổng quan</p>
                    </a>
                </li>
                <li
                    class="nav-item"
                    (click)="collapseSidebar()">
                    <a
                        class="nav-link"
                        [routerLink]="'/' + ROUTES.BANK_ACCOUNT.MODULE + '/' + ROUTES.BANK_ACCOUNT.LIST"
                        [class.active]="helpers.isFilledArray(routePathList) && routePathList.length === 1 && routePathList[0] === ROUTES.BANK_ACCOUNT.MODULE">
                        <fa-icon [icon]="icons.regular.faUser"></fa-icon>
                        <p class="ms-3">Tài khoản</p>
                    </a>
                </li>
                <li
                    class="nav-item"
                    (click)="collapseSidebar()">
                    <a
                        class="nav-link"
                        [routerLink]="'/' + ROUTES.DEBT.MODULE + '/' + ROUTES.DEBT.LIST"
                        [class.active]="helpers.isFilledArray(routePathList) && routePathList.length === 1 && routePathList[0] === ROUTES.DEBT.MODULE">
                        <fa-icon [icon]="icons.solid.faList"></fa-icon>
                        <p class="ms-3">Quản lý công nợ</p>
                    </a>
                </li>
                <li
                    class="nav-item"
                    (click)="collapseSidebar()">
                    <a
                        class="nav-link"
                        [routerLink]="'/' + ROUTES.DEBT.MODULE + '/' + ROUTES.DEBT.IMPORT"
                        [class.active]="helpers.isFilledArray(routePathList) && routePathList.length === 2 && routePathList[0] === ROUTES.DEBT.MODULE && routePathList[1] === ROUTES.DEBT.IMPORT">
                        <fa-icon [icon]="icons.solid.faCog"></fa-icon>
                        <p class="ms-3">Nhập công nợ</p>
                    </a>
                </li>
                <li
                    class="nav-item"
                    (click)="collapseSidebar()">
                    <a
                        class="nav-link"
                        [routerLink]="'/' + ROUTES.MESSAGE.MODULE"
                        [class.active]="helpers.isFilledArray(routePathList) && routePathList[0] === ROUTES.MESSAGE.MODULE">
                        <fa-icon [icon]="icons.regular.faMessage"></fa-icon>
                        <p class="ms-3">Quản lý SMS</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="upgrade">
            <img
                src="assets/img/upgrade-premium.png"
                alt="upgrade" />
            <button
                class="btn btn-warning"
                (click)="openUpgradeModal()">
                Nâng cấp Premium
            </button>
        </div>
    </div>
    <!-- /.sidebar -->
</aside>
