<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid ps-0">
        <div class="row mb-2">
            <div class="col-12 d-flex">
                <h1 class="m-0">Quản lý công nợ</h1>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form
                    [formGroup]="searchForm"
                    (ngSubmit)="onSearch()">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-2">
                            <app-form-input-wrapper
                                [for]="'min_amount'"
                                [label]="'Số tiền'">
                                <input
                                    appNumericInput
                                    id="min_amount"
                                    type="text"
                                    class="form-control"
                                    [formControl]="searchForm.controls.min_amount" />
                            </app-form-input-wrapper>
                        </div>
                        <div class="a-w-30 px-0 text-center d-flex flex-column-reverse pb-2">~</div>
                        <div class="col-12 col-md-4 col-lg-2">
                            <app-form-input-wrapper
                                [for]="'max_amount'"
                                [className]="'text-white d-none d-md-block'"
                                [label]="'HIDDEN'">
                                <input
                                    appNumericInput
                                    id="max_amount"
                                    type="text"
                                    class="form-control"
                                    [formControl]="searchForm.controls.max_amount" />
                            </app-form-input-wrapper>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <app-form-input-wrapper
                                [for]="'start_date'"
                                [label]="'Từ ngày'">
                                <div class="input-group">
                                    <input
                                        #startDate="ngbDatepicker"
                                        class="form-control control-date-picker"
                                        placeholder="DD/MM/YYYY"
                                        ngbDatepicker
                                        [formControl]="searchForm.controls.start_date" />
                                    <div
                                        *ngIf="!searchForm.value.start_date"
                                        class="input-group-append cursor-pointer"
                                        (click)="startDate.toggle()">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="icons.solid.faCalendar"></fa-icon>
                                        </span>
                                    </div>
                                    <div
                                        *ngIf="searchForm.value.start_date"
                                        class="input-group-append cursor-pointer"
                                        (click)="searchForm.controls.start_date.setValue(null)">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="icons.solid.faTimes"></fa-icon>
                                        </span>
                                    </div>
                                </div>
                            </app-form-input-wrapper>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <app-form-input-wrapper
                                [for]="'end_date'"
                                [label]="'Đến ngày'">
                                <div class="input-group">
                                    <input
                                        #endDate="ngbDatepicker"
                                        class="form-control control-date-picker"
                                        placeholder="DD/MM/YYYY"
                                        ngbDatepicker
                                        [formControl]="searchForm.controls.end_date" />
                                    <div
                                        *ngIf="!searchForm.value.end_date"
                                        class="input-group-append cursor-pointer"
                                        (click)="endDate.toggle()">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="icons.solid.faCalendar"></fa-icon>
                                        </span>
                                    </div>
                                    <div
                                        *ngIf="searchForm.value.end_date"
                                        class="input-group-append cursor-pointer"
                                        (click)="searchForm.controls.end_date.setValue(null)">
                                        <span class="input-group-text">
                                            <fa-icon [icon]="icons.solid.faTimes"></fa-icon>
                                        </span>
                                    </div>
                                </div>
                            </app-form-input-wrapper>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-3 col-lg-2">
                            <div class="custom-control custom-checkbox d-inline me-3">
                                <input
                                    id="is_paid"
                                    class="custom-control-input"
                                    type="checkbox"
                                    [formControl]="searchForm.controls.is_paid" />
                                <label
                                    for="is_paid"
                                    class="custom-control-label">
                                    {{ 'label.completed' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-2 mt-2 mt-md-0">
                            <div class="custom-control custom-checkbox d-inline">
                                <input
                                    id="is_not_paid"
                                    class="custom-control-input"
                                    type="checkbox"
                                    [formControl]="searchForm.controls.is_not_paid" />
                                <label
                                    for="is_not_paid"
                                    class="custom-control-label">
                                    {{ 'label.not_completed' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button
                                type="submit"
                                class="btn btn-primary">
                                <fa-icon
                                    class="me-2"
                                    [icon]="icons.solid.faSearch"></fa-icon>
                                {{ 'label.search' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex align-items-end">
                        Tổng số dòng:&nbsp;<strong>{{ dataTotal }}</strong>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-p-3 mb-0">
                                <thead>
                                    <tr>
                                        <th class="a-w-210 text-center">ID</th>
                                        <th class="a-w-150 text-center">Ngày tạo</th>
                                        <th class="a-w-150 text-center">Trạng thái</th>
                                        <th class="a-mw-150 text-center">Người trả tiền</th>
                                        <th class="a-w-200 text-center">SDT người trả tiền</th>
                                        <th class="a-w-120 text-center">Số tiền</th>
                                        <th class="a-w-120 text-center">Đã trả</th>
                                        <th class="a-w-200 text-center">Tài khoản nhận tiền</th>
                                        <th class="a-w-150 text-center">Ghi chú</th>
                                        <th class="a-w-120 text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dataList; let idx = index">
                                        <td class="text-center">{{ item.id }}</td>
                                        <td class="text-center">{{ item.created_date }}</td>
                                        <td class="text-center {{ item.amount <= (item.paid_amount || 0) ? 'text-success' : 'text-danger' }}">
                                            {{ (item.amount <= (item.paid_amount || 0) ? 'label.completed' : 'label.not_completed') | translate }}
                                        </td>
                                        <td>{{ item.payer_name }}</td>
                                        <td class="text-center">{{ item.payer_phone }}</td>
                                        <td class="text-end">{{ item.amount | number : '.0-0' }}</td>
                                        <td class="text-end">{{ item.paid_amount | number : '.0-0' }}</td>
                                        <td>
                                            <p class="mb-0">{{ item.bank_brand_name }}</p>
                                            <p class="mb-0">{{ item.bank_account_number }}</p>
                                        </td>
                                        <td>{{ item.note }}</td>
                                        <td class="text-center">
                                            <button
                                                class="btn btn-primary"
                                                (click)="showDetail(idx)">
                                                <fa-icon [icon]="icons.solid.faInfoCircle"></fa-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <ngb-pagination
                            [collectionSize]="dataTotal"
                            [pageSize]="CONSTANTS.PAGE_SIZE"
                            [page]="currentPage"
                            [maxSize]="CONSTANTS.MAX_PAGE_COUNT"
                            [rotate]="true"
                            [boundaryLinks]="true"
                            (pageChange)="onPageChanged($event)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
