<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom-0">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item me-2">
            <a
                class="nav-link ms-2 text-primary"
                data-widget="pushmenu"
                href="#"
                role="button">
                <fa-icon
                    [icon]="icons.solid.faBars"
                    [size]="'lg'"></fa-icon>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-block d-md-none me-2">
            <a
                class="cursor-pointer text-primary nav-link"
                title="{{ 'label.change_password' | translate }}"
                [routerLink]="'/' + ROUTES.AUTH.MODULE + '/' + ROUTES.AUTH.CHANGE_PASSWORD">
                <fa-icon
                    [icon]="icons.solid.faKey"
                    [size]="'lg'"></fa-icon>
            </a>
        </li>
        <!-- <li class="nav-item me-2">
            <a class="nav-link">
                <fa-icon
                    class="text-warning"
                    [icon]="icons.solid.faBell"
                    [size]="'xl'"></fa-icon>
            </a>
        </li> -->
        <li class="nav-item d-block d-md-none">
            <a
                class="cursor-pointer text-gray nav-link"
                title="{{ 'label.logout' | translate }}"
                (click)="logOut()">
                <fa-icon
                    [icon]="icons.solid.faDoorOpen"
                    [size]="'lg'"></fa-icon>
            </a>
        </li>
        <li class="nav-item dropdown d-none d-md-block">
            <a
                class="nav-link profile-card"
                (click)="toggleActionDropdown()">
                {{ currentUser.name }}
                <fa-icon
                    [icon]="icons.solid.faChevronDown"
                    [size]="'sm'"></fa-icon>
            </a>
            <div
                id="actionDropdown"
                class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0"
                style="margin-right: 1.2rem; border: none;">
                <a
                    class="dropdown-item cursor-pointer"
                    [routerLink]="'/' + ROUTES.AUTH.MODULE + '/' + ROUTES.AUTH.CHANGE_PASSWORD">
                    <fa-icon
                        class="me-2 text-warning"
                        [icon]="icons.solid.faKey"
                        [size]="'sm'"></fa-icon>
                    {{ 'label.change_password' | translate }}
                </a>
                <div class="dropdown-divider"></div>
                <a
                    class="dropdown-item cursor-pointer"
                    (click)="logOut()">
                    <fa-icon
                        class="me-2"
                        [icon]="icons.solid.faDoorOpen"
                        [size]="'sm'">
                    </fa-icon>
                    {{ 'label.logout' | translate }}
                </a>
            </div>
        </li>
    </ul>
    <!-- <div class="profile-card d-none d-md-flex">
        <div class="avatar">
            <img
                src="assets/img/default-user-avatar.png"
                class="img-circle elevation-2"
                alt="User Image" />
        </div>
        <div class="info">
            <div class="name">{{ currentUser.name }}</div>
            <div class="position">
                <a
                    class="me-2 cursor-pointer text-primary"
                    title="{{ 'label.change_password' | translate }}"
                    [routerLink]="'/' + ROUTES.AUTH.MODULE + '/' + ROUTES.AUTH.CHANGE_PASSWORD">
                    <fa-icon [icon]="icons.solid.faKey"></fa-icon>
                </a>
                <a
                    class="cursor-pointer text-black"
                    title="{{ 'label.logout' | translate }}"
                    (click)="logOut()">
                    <fa-icon [icon]="icons.solid.faDoorOpen"></fa-icon>
                </a>
            </div>
        </div>
        <div class="notification">
            <fa-icon
                class="text-warning"
                [icon]="icons.solid.faBell"
                [size]="'xl'"></fa-icon>
        </div>
    </div> -->
</nav>
<!-- /.navbar -->
